.experience__container{

    position: relative;
    display: grid;
    grid-template-columns:24% 24% 24% 24%;
    gap:1rem;
    padding-top: 1rem;
}

/*@media screen and (max-width: 600px){*/
/*    .experience__container{*/
/*        gap: 1rem;*/
/*    }*/
/*    .experience__container > div {*/
/*        width: 100%;*/
/*        padding: 2rem 1rem;*/
/*    }*/
/*}*/

.experience__section{
    padding: 0 0rem;
}

.first__heading__experience{
    margin-top: 3rem;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 2rem 0rem;
    border-radius: 3rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 0.8rem;
    padding: 0 1rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
}

.experience__details >div{
    width: 100%;
}

.experience__details-ion{
    /*width: 25%;*/
    margin-top: 6px;
    color: var(--color-primary);
}


.progress-line{
    margin: 0.5rem 0;
    height: 7px;
    width: 100%;
    background: white;
    position: relative;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line > span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progress-line.python  span{
    width: 70%;
}
.progress-line.java  span{
    width: 55%;
}
.progress-line.javascript  span{
    width: 50%;
}
.progress-line.c  span{
    width: 65%;
}
.progress-line.arm  span{
    width: 45%;
}
.progress-line.verilog  span{
    width: 40%;
}
.progress-line.html  span{
    width: 60%;
}
.progress-line.css  span{
    width: 50%;
}
.progress-line.react  span{
    width: 60%;
}
.progress-line.spring  span{
    width: 35%;
}
.progress-line.firebase  span{
     width: 40%;
 }
.progress-line.mysql  span{
      width: 40%;
}
.progress-line.flutter  span{
    width: 60%;
}
.progress-line.android  span{
    width: 45%;
}
.progress-line.dart  span{
    width: 60%;
}
.progress-line.ps  span{
    width: 75%;
}
.progress-line.il  span{
    width: 60%;
}
.progress-line.pr  span{
    width: 50%;
}
.progress-line.autocad  span{
    width: 50%;
}
.progress-line.xd  span{
    width: 50%;
}
.progress-line.proteus  span{
    width: 50%;
}



@media screen and (max-width: 1024px){

    .experience__container{
        grid-template-columns: 1fr;
    }
    .experience__container >div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content{
        padding: 1rem;
    }
}

@media screen and (max-width: 600px){
    .experience__section{
        position: initial;
        padding-top: 0rem;
        height: 100%;
    }
    .experience__container{
        gap: 1rem;
    }
    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}