.section__portfolio{
    height: 100vh;
}

.portfolio__container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2.0rem;
    padding-top: 3rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.container.testimonials_container{
    display: none;
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    padding-left: 32%;
    margin-bottom: 1rem;
}

@media  screen and (max-width: 1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .section__portfolio{
        height: 165vh;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__container {
        display: none;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-bottom: 2rem;
    }
    .section__portfolio{
        height: 100%;
        padding-bottom: 1rem;
    }
    .container.testimonials_container{
        display: grid;
    }

}